.Rproj.user
.Rhistory
.RData
.Ruserdata
HW5_count/past_student.Rmd
HW5_count/past_student_files/figure-latex/unnamed-chunk-33-1.pdf
HW5_count/past_student_files/figure-latex/unnamed-chunk-32-1.pdf
HW5_count/hw4_draft.Rmd
HW5_count/nul
